<div class="navbar bg-base-100 shadow-sm flex">
    <a class="btn btn-ghost text-xl">Hostelify</a>

    <div class="absolute right-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-8 cursor-pointer">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        </svg>
    </div>
</div>

<!-- Welcome section -->
<section class="flex w-full h-auto py-10 items-center justify-center">
    <div class="w-80 md:w-[80%] flex flex-col items-center justify-center h-40 bg-sky-400 text-white">
        <h1 class="text-3xl md:text-5xl">
            Welcome {{currentUser?.name || "User"}} !!
        </h1>
        <p>Start Your Hostel Journey with us..</p>
    </div>
</section>